:root {
  --color-background: #e5f1f1;

  --title-size: 5rem;
  --other-font-size: 1.5rem;
  --main-margin: 3ch;

  --box-size: 150px;
  --box-border: 5px solid black;

  --button-height: 50px;
  --button-width: 250px;
  --button-font-size: 1.5rem;

  --lock-img-size: 20%;

 
  --saved-title-size: 2rem;
}

html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;

  font-family: 'Poppins', sans-serif;
  background-color: var(--color-background);
}


body {
  display: flex;
  flex-direction: row;
}

.saved-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 5px solid #000;
  width: 100%;

  h3 {
    width: auto;
    font-size: var(--saved-title-size);
  }
}

.main-view {
  
  
  .title {
    text-align: center;
    justify-self: center;
  
    font-size: var(--title-size);
    text-transform: uppercase;
  }
  
  main {
    margin: var(--main-margin);
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 15px;
  }

  .color-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .color-box {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      width: var(--box-size);
      height: var(--box-size);
      padding: 10px;
    
      background-color: #FFFFFF;
      border: var(--box-border);
    }
    
    .color-hex {
      font-size: var(--other-font-size);
      text-transform: uppercase;
    }

    img {
      width: var(--lock-img-size);
      height: var(--lock-img-size);
    }
  }
  
  .buttons-container {
    width: auto;
    display: flex;
    justify-content: space-evenly;
  
    button {
      height: var(--button-height);
      width: var(--button-width);
    
      font-family: 'Poppins', sans-serif;
      font-size: var(--button-font-size);  
      color: white;
      
      background-color: black;
      border: none;
      border-top-right-radius: var(--button-height);
      border-bottom-left-radius: var(--button-height);
    }
  }
}
